.DocumentationSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-area {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: fit-content;
}

.download-card {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.download-link {
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.download-icon {
  height: 25px;
  width: auto;
}