.TimelineCard {
  width: 480px;
  background-color: rgb(28, 28, 28);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.right-arrow {
  width: 20px;
  height: auto;
  align-self: flex-start;
  transform: translateX(-20px);
}
.left-arrow {
  width: 20px;
  height: auto;
  align-self: flex-end;
  transform: translateX(20px);
}
